
.env

*.DS_Store
*.ipynb_checkpoints
*.egg-info/
*.egg
*.bak*

/projects/
/backup/

__pycache__/

/datasets/*
!/datasets/default/
/datasets/default/*
!/datasets/default/susvibes_dataset.jsonl
!/datasets/default/examples/
!/datasets/default/examples/**

/susvibes/env_specs/*/
!/susvibes/env_specs/default/

slurm*
/slurm/
logs/
tmp*
try*
results/
.claude/
CLAUDE.md
