
.env

*.DS_Store
*.ipynb_checkpoints
*.egg-info/
*.egg
*.bak*

/projects/
/backup/

__pycache__/

/datasets/*
!/datasets/default/
/datasets/default/*
!/datasets/default/susvibes_dataset.jsonl
!/datasets/default/examples/
!/datasets/default/examples/**
!/datasets/exp_no_test_v1_3_merged/
/datasets/exp_no_test_v1_3_merged/*
!/datasets/exp_no_test_v1_3_merged/susvibes_dataset.jsonl

/susvibes/env_specs/*/
!/susvibes/env_specs/default/
!/susvibes/env_specs/exp_no_test_v1_3_merged/

slurm*
/slurm/
logs/
tmp*
try*
results/
.claude/
CLAUDE.md
/docs/
